.filter-menu {
  width: 100%;
  height: min-content;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  background: #E5E5E5;

  font: {
    family: Roboto;
  style: normal;
  weight: normal;
  size: 12px;
  }

  line-height: 14px;
  color: #929292;
}

button {
  text-decoration-line: underline;
  color: #2F80ED;
}

input {
  background: #FFFFFF;
  width: 150px;
  height: 13px;
  border: none;
  padding: 0;
}
