<mat-card>
  <img [src]="video.snippet.thumbnails.medium.url">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class = 'video-statistics'>
      <li class = 'video-statistics--view-counts'>{{ video.statistics.viewCount }}</li>
      <li class = 'video-statistics--like-counts'> {{ video.statistics.likeCount }} </li>
      <li class = 'video-statistics--dislike-counts'> {{ video.statistics.dislikeCount }}</li>
      <li class = 'video-statistics--comment-counts'> {{ video.statistics.commentCount }}</li>
    </ul>
    <p class = 'video-title'>{{ video.snippet.title }}</p>
  </mat-card-content>
  <!-- <mat-card-actions align="start">
  </mat-card-actions> -->
  <mat-card-footer>
    <mat-divider appColorFromDate = 'video' [video] = 'video'></mat-divider>
  </mat-card-footer>
</mat-card>
